<h1>ACLAB</h1>
<p>
    GET : /last-posts/{ticker} <br>
    Get the latest social media posts by crypto ticker
</p>
<p>
    GET : /balance/{token} <br>
    Get the latest balance and cryptos of a binance account with his token
</p>
<p>
    GET : /trending-currencies <br>
    Top trending cryptos based on social media scrapping
</p>
<p>
    GET : /nomics/{token} <br>
    Get informations on a crypto by ticker
</p>
<p>
    GET :/marketcap/{ticker} <br>
    Get the marketcap of a crypto with its ticker
</p>